<% provide(:title, "About") %>
<div class="center jumbotron">
<h1>History</h1>
    <hr>
    <h2>Read the origin story of Mad Libs® from Leonard Stern, one of the creators of the Original Mad Libs®.</h2>
    <p class="p_history">
      The creation of Mad Libs is directly linked to my inability to spell “hyperbole” in a seventh-grade spelling bee. Humiliated and embarrassed beyond words, I ran home to take refuge in the family dictionary, determined to learn the correct spelling and exact meaning of as many words as humanly possible. The dictionary became my constant companion – my roommate. Even today it’s by my bedside, and on sleepless nights I make a point of learning at least one new word. Last night it was “orthogonal.”
    </p>
    <br>
    <p class="p_history">
      The first sighting of Mad Libs happened in 1953, and it remains indelibly etched in my mind. I was in my New York City apartment overlooking Central Park working on a Jackie Gleason Honeymooners script. Actually, I was sitting and staring at the typewriter (I still use one), searching for the precisely right adjective to describe the nose of Ralph Kramden’s new boss. After wallowing in clichés for thirty minutes, I was ready to throw in the thesaurus when Roger Price (my best friend, fellow workaholic, and the most original thinker I’d ever met, one of a kind of which there was no kind), showed up at my apartment. We had planned to do a final polish on our book, What Not to Name the Baby, based on Roger’s bizarre theory that names exert more influence on our personalities than either heredity or environment. (Example: “Ashley” always looks like she’s on her way to the dentist, and “Harry” always knows where to get more ice.) I apologized to Roger and told him we’d be cracking on the book in a moment. “no, we won’t,” he said. “You’re in your idiosyncratic-pursuit-of-a-word mode. I could be standing here for hours. Do you want help?” Reluctant as I was to admit I did – I did. I said, “I need an adjective that–” and before I could further define my need, Roger said, “Clumsy and naked.” I laughed out loud. Roger asked, “What’s so funny?” I told him, thanks to his suggestion, Ralph Kramden now had a boss with a clumsy nose – or, if you will, a naked nose. Roger seldom laughed, but he did that time, confirming we were on to something – but what it was, we didn’t know. “Clumsy” and “naked” were appropriately inappropriate adjectives that had led us to an incorrect but intriguing, slightly bizarre juxtaposing of words. Why? A clumsy nose indicated nature had failed or there had been a genetic mix-j;, and an alliterative naked nose had the sound of a best-selling mystery novel. I remember thinking, So what? Then, suddenly and simultaneously, Roger and I realized what had happened. My obsession had produced an unpredictable wedding of words that had resulted in laughter – and a GAME! Abandoning Gleason and the book, we spent the rest of the day writing stories with key words left out. We played the game at a party that night. Hilarity reigned. Everyone thought this nameless game should be published. We agreed, but not until we came up with the right name. “Until” was five years later.
    </p>
    <br>
    <p class="p_history">
      The name “Mad Libs” came to Roger and me out of the blue-plate special at Sardi’s restaurant in New York in the summer of 1958. At the table next to us, an actor and his agent were having coffee and an argument. From what we couldn’t help but overhear, the actor wanted to “ad-lib” an interview, and his agent thought it was a “mad” thing to do.  ‘Nuff said? Abandoning our eggs Benedict, Roger and I were off and running to a publisher, the same one that had published Roger’s best-selling humor book "In One Head and Out the Other." And within minutes we were in one door and out the other. Those good souls didn’t think it was a book but honestly believed it might appeal to a game manufacturer. The game manufacturer in turn thought it was a book and sent us to another book publisher, which didn’t think it was a book! After we ran out of publishers and game manufacturers within a 50-mile radius of the city, Roger decided we should publish Mad Libs ourselves. What could it take? You design the book, find a printer, and place the order. So we did just that. It never occurred to us, until the printer called asking where he should deliver the books, that printers didn’t double as warehouses. However, Roger’s large Central Park West apartment could and did. Fourteen thousand copies of Mad Libs were delivered directly to his dining room, denying my good friend a decent sit-down meal for the three months and 17 days it took us to find a willing, one-time-only distributor.
    </p>
    <br>
    <p class="p_history">
      Once Roger and I knew that the books were in stores (we confirmed that by visiting bookstores), I arranged a meeting with Steve Allen. In 1958 I was head writer and comedy director for his top-rated Sunday night variety television show. Roger and I suggested to Steve we try Mad Libs as a way of introducing guest stars. Steve, a wordsmith himself, loved the idea of the audience supplying the missing words. We played Mad Libs on the show the very next Sunday to introduce our guest NOUN, Bob Hope. By Wednesday of the following week, the stores were sold out of Mad Libs. We needed another printing immediately. Roger held up the order until we could find a delivery destination other than his dining room.

    </p>
    <br>
    <p class="p_history">
      In the early ’60s, Larry Sloan, a dear friend from high school who had become successful as a journalist and publicist, and who had always been a grammarian par excellence, joined us as a partner and CEO, and we became the publishing company Price Stern Sloan. Before long, PSS was the largest publisher on the West Coast, with Mad Libs having attained best-seller status.
    </p>
    <br>
    <p class="p_history">
      About 20 years ago, I succumbed to personally promoting the company: I had “Mad Lib” printed on my California license plate. At red lights, with astonishing regularity, I was asked by the driver of the car next to me if I had anything to do with the word game Mad Libs. I would say, “Yes, I co-created it.” And they’d challengingly respond, “No way.” Over time, it became increasingly apparent that no true Mad Libber believed that the game was of recent origin. I think in their heart of hearts they believed the game belonged to the past ... that it had been around forever — from time immemorial. Eventually, I gave in. I now state emphatically that Moses had Mad Libs with him to keep the kids amused when they were on the road to Egypt. My red-light friends drive away happy.
    </p>
    <br>
    <p class="p_history">
      When the sales of Mad Libs reached an astonishing one hundred million, I didn’t walk, I ran to Roger’s office to tell him the great news. Roger didn’t speak at first, but when he did he issued a Rogerism that I have quoted continuously over the years. “Well,” he said, “you can fool some of the people some of the time — and that’s enough.”
    </p>
    <br>
    <p class="p_history">
      – Leonard Stern
    </p>
</div>