<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<li>
  Email me @<a href="mailto:ethanpatterson93@gmail.com">ethanpatterson93@gmail.com</a>.
</li>
<br>
<li>
  Connect with me on my <a href="https://www.linkedin.com/in/ethan-patterson-9b704b81", target="_blank">Linkedin</a>
</li>