<% provide(:title, "Help") %>
<div class="center jumbotron">
<h1>How to Play Mad Libs</h1>
    <hr>
    <p class="p_history">
      The object of the game is to produce something that sounds totally ridiculous, so don't give yourself a headache searching for hidden truths. Got it?
      At the top, you will see a bunch of word descriptions followed by blank spaces. Type your word in the blanks. The words ought to match the description of the word on the left.
      Most word descriptions are simple parts of speech, like "noun", "verb", "adjective", etc.
    </p>
</div>