<div class="center jumbotron">
  <%= link_to image_tag("MadLibs-Logo.png", alt: "Rails logo"),
            'http://www.madlibs.com/'%>

  <h2>
    Welcome! This is the home page for the Mad Libs prototype application.
  </h2>
  <br>
  <br>
  <%= link_to "Start a new Mad Lib!", input1_path, class: "btn btn-lg btn-primary" %>
  <br>
</div>
<br>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>