<% provide(:title, "Input") %>
<div class="center jumbotron">
    
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
         <form action="/story1" method="post">
         <font size="4md"><h2>We're trying to write a farily tale, but we could use a little bit of help. Give us a hand by filling out a few words:</h2></font>
         <hr>
         <h2 class="p_history">Enter a girl's name</h2>
         <input name="girl_name" type="text" /><br/>
         <h2 class="p_history">Enter a living thing</h2>
         <input name="living_thing" type="text" /><br/>
         <h2 class="p_history">Enter an adjective</h2>
         <input name="adj" type="text" /><br/>
         <h2 class="p_history">Enter another adjective</h2>
         <input name="adj_2" type="text" /><br/>
         <h2 class="p_history">Enter a noun</h2>
         <input name="noun" type="text" /><br/>
         <h2 class="p_history">Enter a verb</h2>
         <input name="verb" type="text" /><br/>
         <h2 class="p_history">Enter another verb</h2>
         <input name="verb_2" type="text" /><br/>
         <h2 class="p_history">Enter a past-tense verb</h2>
         <input name="past_verb" type="text" /><br/>
         <br>
         <br>
         <input type="submit" value="Create your story" class="btn btn-primary">
          </form>
      </div>
    </div>
    
</div>