<% provide(:title, "Story") %>
<div class="center jumbotron">
    
<% puts "THE FAIRLY TALE"
puts "------------------------------------------------------------------------"
puts "Once upon a time there was a poor little girl named " + @girl_name.to_s + " who lived in the forest with a(n) " + @adj.to_s + " " + @living_thing.to_s + ".  She was forced to " + @verb.to_s + " all day  while the " + @living_thing.to_s + " sat around " + @verb_2.to_s + "ing." 
puts ""
puts "But then one day the little girl found a magic " + @noun.to_s + ". When " + @girl_name.to_s + " picked up the " + @noun.to_s + ", she found that anything she imagined came true. Soon, " + @girl_name.to_s + " was making the " + @living_thing.to_s + " " + @verb.to_s + " while she chose to sit around and " + @verb_2.to_s + "."
puts ""
puts "After a while, the girl realized this was not a very " + @adj_2.to_s + " thing to do and released the " + @living_thing.to_s + " from her spell. They became best friends and " + @past_verb.to_s + " every day, living happily ever after." 
%>
    
</div>